a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GLOBAL */ 
:root { 
  --background-image-full: url('assets/mountain-under-a-clear-sky-4403896.jpg');
} 

/* GENERIC OVERRIDES */
body,
ul,
li,
h1,
h2,
h3,
input, 
button,
p {
	  margin: 0;
    padding: 0;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* removes the list bullets */
ul {list-style: none;}

/* removes default syling from links */
a {
	color: inherit;
    text-decoration: none;
    transition: all 0.3s; 
    border-bottom: 1px solid transparent; 
} 

button {
    background-color: inherit; 
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

input { display: block; }  

/* makes images as wide as their container */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
} 

/* default sans serif font*/
body {     
    position: relative;
    min-width: 320px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;   
    min-height: 100vh; 
    color: #f3f3f3;
    /* background-color: #0d0d1d;   */
    background: linear-gradient(rgb(0, 0, 0, 0.85), rgba(0, 0, 0, 0.65) 100%), var(--background-image-full) no-repeat; 
    background-size: cover; 
} 

/* APP */ 
h1 {
  font-family: 'Galada', cursive; 
  font-size: 3rem;
  font-weight: 400; 
  display: inline-block; 
  border-bottom: 2px solid orange; 
}

h2 {
    margin-top: 50px;
    font-size: 2rem; 
    font-weight: 300;
}

p {
    letter-spacing: 0.05rem;
}

header { padding: 30px; }

header, main { text-align: center; }  

main { padding: 50px 0 100px 0; }

main p {
    line-height: 2.4rem;
    max-width: 600px;
    margin: auto; 
}

.wrapper > p:nth-of-type(2) { 
    color: rgb(44, 212, 212); 
    margin: 30px auto;
}

.loadingBackground {
    background-color: black;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.loadingAnimation { margin: auto; }

.featured { 
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-weight: 300;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
}

.featured a {text-decoration: underline;}

.searchForm {	   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px; 
    -webkit-animation: fadeUp 0.8s linear; /* Safari 4+ */
    -moz-animation: fadeUp 0.8s linear; /* Fx 5+ */
    -o-animation: fadeUp 0.8s linear; /* Opera 12+ */
    animation: fadeUp 0.8s linear;
} 

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
} 

.fadeIn {
    animation: fadeIn 0.6s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.searchForm > div { position: relative; }

.searchForm input {
    color: #dadada; 
    font-family: inherit;
    font-weight: 300;
    width: 250px; 
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid #dddddd;  
    background-color: transparent;
}

.searchForm input:focus {
    border: 1px solid white; 
    color: white;
}

.searchForm input:focus + button { color: white; }

.searchForm button {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;

    color: #b9b9b9;  
    padding: 0 5px;
    border: none;
    font-size: 2.2rem; 
}  

.errorMessage { 
    font-size: 1.6rem;
    max-width: 400px;
}

.votingContainer {
    position: relative; 
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.votingContainer button {
    transition: all 0.2s;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);

    display: flex;
    justify-content: center;
    align-items: center; 

    font-size: 2.8rem; 
    height: 50px;
    width: 50px;
    background-color:white;
    border: none;
    box-shadow: 0 0 10px 2px rgba(44, 44, 44, 0.199);
} 

.votingContainer a {
    position: absolute;
    font-size: 1.4rem; 
    bottom: -20px;
    right: 0;
    text-align: right;
    color: #f7f7f7;
}

.votingContainer button:hover { transform: scale(1.1); }

.votingContainer button:active { transform: scale(1); }

.dislike { left: -20px; }

.like { right: -20px; }

.galleryContainer { margin-top: 100px; }

.galleryContainer > p { margin-bottom: 20px; }

.gallery { 
    display: grid;  
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 250px;  
}

.gallery li { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.imageContainer { 
    height: 100%; 
    width: 100%; 
    background-color: black;
}

.imageContainer img {
    transition: all 0.3s;
    opacity: 1;
}

.gallery a {    
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery a p {  
    opacity: 0;
    letter-spacing: 0.2rem;
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    position: absolute;  
    padding: 10px;
    margin: auto;
    transition: all 0.3s;
}

.gallery a:hover img,
.gallery a:focus img { opacity: 0.4; }

.gallery a:hover p,
.gallery a:focus p { opacity: 1; }

footer {  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px; 
  font-size: 1.4rem;
  text-align: center;  
}

footer a { color: rgb(0, 212, 212); }

footer a:hover { border-bottom: 1px solid rgb(6, 177, 177); }

@media(max-width:560px) {
    .gallery { grid-template-columns: repeat(2, 1fr); }

    .gallery a p { font-size: 1.8rem; }
}